@import "./Variable.scss";

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: pointer;

}

.login-container{

    @media only screen and (min-width: $large-screen) {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        height: 100%;
        width: 100%;
      }

    @media only screen and (max-width: $small-screen) {
        margin: auto;
        display: flex;
        flex-direction: column;
        height: 60%;
        width: 85%;
        padding: auto;
      }

      @media (max-width: $small-screen) {
        margin: auto;
        display: flex;
        flex-direction: column;
        height: 60%;
        width: 85%;
        padding: auto;
      }

      @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
        margin: auto;
        display: flex;
        flex-direction: column;
        height: 60%;
        width: 85%;
        padding: auto;
        justify-content: start;
      }

      @media only screen and (max-width: $small-screen) {
        margin: auto
        ;
      }
      @media only screen and (min-width:500px) and (max-width:605px)   {
        margin: auto
        ;
        height: 80%;
      }


}

.left-section{
    @media only screen and (min-width: $large-screen){
    text-align: left;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    }

    .bg-image{
        width: 500px;
        margin-top:60px

    }
    &.left-control{
        margin: auto;
    }

    @media only screen and (max-width: $small-screen) {
        margin-left: 2rem;;
        justify-content: start;
        align-items: center;
        .bg-image{
            display: none;
        }

      }
      @media only screen and (min-width: $medium-screen) and (max-width: $large-screen) {
        justify-content: start;
        padding: 40px;
      }
}



.right-section{
    display: flex;
    padding: 50px 0 20px 10px;
    width: 100%;
    height: 100%;
    @include card();



    & .form-control{
        padding-left: 30px;
    text-align: start;
    margin: auto;

    &{
        h1 {
            color: $darkBlue;
            font-size: 25px;
        }
    }
    p {
        color:$gray;
        margin: 10px auto 40px auto;
        font-size: 14px;
    }

    h6{
        color:$tBlue;
        margin: 10px auto ;
        text-align: start;

        &:hover{
            color:red;
            cursor:pointer;
        }
    }
    }


}

.form-control{
    margin:auto;
    width: 500px;

}



input[type= "submit"]{
    background-color: $tBlue;
    height: 40px;
    width: 350px;
    border-radius: 8px;
    color:$white;
    margin-top: 5px;
    border:$tBlue;
    margin-bottom: 30px;

    &:hover{
        background-color: $darkBlue;
    }


    @media only screen and (max-width: $small-screen) {
      width: 250px;
      height: 40px;
    }
    @media only screen and (min-width:500px) and (max-width:605px)   {
      width: 250px;
      height: 40px;
    }


}

.form-control .input{
   width: 350px;
   height: 40px;
   margin-bottom: 10px;
   border:2px solid rgba(84, 95, 125, 0.15);
   @media only screen and (max-width: $small-screen) {
    width: 250px;
    height: 40px;
  }
  @media only screen and (min-width:500px) and (max-width:605px)   {
    width: 250px;
    height: 40px;
  }

}

.form-control .error{
    width: 350px;
    height: 40px;
    margin-bottom: 10px;
    border:1px solid $red;
    color:$red;
    @media only screen and (max-width: $small-screen) {
      width: 250px;
      height: 40px;
    }
    @media only screen and (min-width:500px) and (max-width:605px)   {
      width: 250px;
      height: 40px;
    }


}

.right-section #password-input {
    position: relative;
    margin-top: 3px;
}

.password-toggle {
    cursor: pointer;
    position: absolute;
    background-color: $white;
    color: $tBlue;
    right: 30%;
    bottom:0;
    transform: translateY(-60%);


    @media only screen and (max-width:600px)  {
      right: 30%;
      bottom:10px;
      left: 45%;

      font-size: 12px;

    }
    @media only screen and (min-width:$medium-screen) and (max-width:$large-screen) {
      right: 30%;
      bottom:0;
      left: 60%;
      

    }

}

.password-toggle:hover{
  color: $darkBlue;
}
