@import "./Variable.scss";


.side-nav{
    z-index: 1;
    padding:3px;
    text-align: start;
    color:$darkBlue;
   


    @media only screen and (max-width: $medium-screen) {
        display: none;
      }
      @media only screen and (min-width: $medium-screen) and (max-width: $large-screen) {


        font-size: 12px;
      }

}

.nav-container{
    font-size: 16px;
    line-height: 19px;

}
h3{
    margin-bottom: 10px;
}

h4{
    margin-bottom: 30px;
}
h4, h5:hover{
    cursor: pointer;
}

ul,li{
    list-style-type: none;
}

li{
    line-height: 30px;
}

 ul li:hover{
    cursor: pointer;
    background-color:$tBlue;
    transition: transform 1s;

 }

.nav-container li, .nav-container ul {
    margin:20px auto;
}
