@import "./Variable.scss";
.table{
    justify-content: center;
    position: relative;
    margin-left: 10px;
    width: 100%;

    @media only screen and (min-width: $medium-screen) and (max-width: $large-screen) {

        width: 100%;
        font-size: 10px;
      }

}


.table th, .table td{
    font-size: 12px;

}

 .user-status, .date, .user-phone, .user-email{
    @media only screen and (max-width: 650px)  {

        display: none;
    }
    @media only screen and (min-width: 650px) and (max-width: 767px)  {

        display: none;
    }

    @media only screen and (min-width: $medium-screen) and (max-width: $large-screen) {
        font-size: 9px;
        margin: 0;

        display: none;

  }

}

.m-2{
    margin-left: 5px;
    padding-top: 5px;

}